*{
	padding: 0;
	margin: 0;
	font-family: arial, verdana, sans-serif;
}

body{
	background:#FF8885;
}

/* ------- HEADER - HTML5 ------- */
header{
	background-image: url("../imagenes/OGDRWX0.jpg");
	height: 150px;
	background-position: center;
	padding: 0;
}

header h1{
	text-align: center;
	font-size: 100px;
	color: white;
	font-weight: bolder;
}

.superindice{
	vertical-align:super;
	font-size: 30px;
} 

/* ------- NAV - HTML5 ------- */
nav{
	display: inline-block;
	margin-top: 10px 8px 10px 8px;	
	font-size: 20px;
}

nav a:hover{
	color: white;
} 

nav a{	
	color: #733D3C;
	display: inline-block;
	margin: auto;
	font-size: 20px;
	margin: 8px auto;
	width: 260px;
	padding: 0;
}

nav button{
	background-color: #FF8885;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
}


/* ------- FORMULARIO ------- */

fieldset{
	height: 300px;
	margin: 0 auto;
	border: none;
	padding: 0 0 5px 0;
}

form{
	width: 400px;
	padding: 40px 10px 0 10px;
	margin: 0 auto;
	border-radius: 4px
}

input{
	display: block;
	border: none;
	margin: 20px auto;
	width: 280px;
	padding: 5px 0;
	text-align:center;
	font-size: 14px;
	border-radius: 4px;
}

legend{
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#FF8885;
}

input[type="submit"]{
	background-color: #FF8885;
	color: #733D3C;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}

#footer{
	text-align: center;
	padding-bottom: 0px;
	background-color: FEFEFE;
}